@model prjSchaumburg.Models.AddMachineViewModel


@{
}

<h1>Add Machine</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Make</label>
        <input type="text" class="form-control" asp-for="Make">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Model</label>
        <input type="text" class="form-control" asp-for="Model">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Year</label>
        <input type="number" class="form-control" asp-for="Year">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
